/*
. est pour une class 
# est pour une idée
* pour une universalité (genre la totalité de la page)
: pour les pseudo-classe
:: pour les pseudo-élément
----------
text-align c'est quand tu veux positionner comme sur openoffice genre gauche droite centré
*/
table, tr, td, th { 
    border: 1px solid lightgrey;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .visuel{
    border: 1px solid lightgrey;
    border-collapse: collapse;
    width: 100px ;
    height: 100px;
    border-radius: 5px;
  }
  /*
  - Border collapse sert à avoir un très unique
  - Border raduis sert a arrondir les bord (comme autour des images)
  */
  .col1{
    width: 210px;
  }
  .col2{
    width: 70px;
  }
  .col3{
    width: 150px;
  }
  .col4{
    color: rgb(6,119,249);
    width: 125px;
  }
  .col5{
    width: 125px;
  }
  .col6{
    width: 125px;
  }
  .colN,.colB,.col1,.col2,.col3,.col4,.col5,.col6{
    text-align: left;
    padding-left: 10px; /* Décallage depuis la gauche du COLONNE DROITE */
  }
  .colB,.col1,.col2,.col3,.col4,.col5,.col6{
    vertical-align: top;
  }
  #Brouettes{
    width: 100px ;
    height: 65px;
    border: 1px solid #E7E7E7;
    border-collapse: collapse;
    border-radius: 5px;
  }
  #logo{
    width: 200px ;
    height: 60px;
  }
  aside{
    background-color: #E7E7E7;
    margin-top: 6px; /* décallage avec la photo */
    float: right; /* permet le déplacement par des padding et autres et ne sois pas bloquer en immobile */
    padding-bottom: 435px; /* pour que sa sois étendu jusqu'en bas */
    padding-right: 150px;
    padding-top: 2px;
  }
  #ttlejardin{ 
    float: right; /* float permet d'avoir une zone bougable et, dans ce cas, de le mettre sur la droite */
    font: arial;
    font-size: 30px;
    margin-top: 15px;
    padding-right: 200px;
  }
  #acceuil{
    border:1px solid #E7E7E7; /* trait continu (solid), 1px d'épaisseur et le code couleur */
    }
    footer { /* le fond en noir, supprimer les icones de listes (les chiffres et tt) avec list-style-type et le padding pour le décallage de 20px du premier <li> (genre l'Acceuil) */
      background-color: green;
      list-style-type: none;
      padding: 20px;
      text-align: center;
    }
    li{ /* mettre en ligne tout les <li> */
      display: inline;
      text-align: center;
    }
    li a{ /* Décallé tous les <li> de 15px donnant de l'espace et mettant les liens en blanc */
      margin-right: 5px;
      color: white;
    }
    #promo{
      width: 100% ;    
    }
    h3{
      font: italic 1.3em "Fira Sans", serif;
      color: rgb(192, 85, 13);
      text-align: center;
    }
    h1{
      font: italic 2em Georgia, serif;
      color: rgb(255, 0, 0);
      text-align: center;
    }
    table{
      margin: auto;
    }
    fieldset{
      border: 2px solid black;
      border-radius: 8px;
      padding-left: 5px;
      margin-left: 10px;
    }
    legend{
      width: auto;
      padding: 10px;
    }
    .navbar-nav{
      text-align: center;
    }
    .decalle{
      padding-left: 5px;
      margin-left: 10px;
    }